@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root,html,body,#root{
  margin:0;
  padding:0;
  box-sizing: border-box;
  height: 100%;
  @apply bg-gradient-to-r from-fuchsia-500 to-cyan-500 gap-4;
}


button {
  padding: 0.8rem 1.6rem;
  background-color: #0ea5e9;
  color:aliceblue;
  cursor: pointer;
  border-radius: 6px;;
}